@import "tailwindcss";


.hero-section {
  position: relative;
  min-height: 650px;
  padding: 80px 0 110px;
  text-align: center;
  overflow: hidden;
  background: url('/assets/hero-bg.png')no-repeat;
  background-size: cover;
  background-position: calc(50% - 2px) center;
}


.hero-content {
  position: relative;
  z-index: 2;
  width: min(1100px,auto);
  margin: 0 auto;
}


.hero-circle-wrapper {
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.hero-circle {
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  /* padding: 6px; */
  display: grid;
  place-items: center;
}

.circle-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.circle-mic {
  position: absolute;
  width: 100px;
  /* z-index: 2; */
}

.new-badge {
  position: absolute;
  top: 8px;
  right: 50px;
  background: #00ff9d;
  color: #000;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 800;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
  box-shadow: 0 0 12px rgba(0, 255, 157, 0.6);
}


.hero-title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 12px;
  color: #fff;
}

.hero-subtitle {
  font-size: 18px;
  color: white;
  max-width: 550px;
  margin: 0 auto 35px;
}


.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.btn-primary,
.btn-secondary {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 22px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary {
  background: linear-gradient(60deg, #ff8c00, #ff0080, #481b5d);
  color: #fff;
}

.btn-secondary {
  border: 1px solid #00ff9d;
  color: #00ff9d;
}



.btn-primary:hover {
  box-shadow: 0 8px 25px rgba(255, 0, 128, 0.5);
  transform: translateY(-2px);
}

.btn-secondary:hover {
  background: #00ff9d;
  color: #000;
  border-color: #00ff9d;
  box-shadow: 0 8px 25px rgba(0, 255, 150, 0.5);
  transform: translateY(-2px);
}

.new-badge:hover {
  transform: rotate(10deg) translateY(2px);
  box-shadow: 0 0 22px rgba(0, 255, 157, 0.9);
}



@media (max-width: 576px) {
  .hero-section {
    min-height: auto;
    padding: 35px 0 55px;
    background-position: center; 
    background-position: center calc(50% - 70px);
  }

  .hero-circle-wrapper {
    margin-bottom: 18px;
  }

  .hero-circle {
    width: 250px;
    height: 250px;
  }

  .circle-mic {
    width: 70px;
  }

  .new-badge {
    top: 6px;
    right: 15px;
    font-size: 12px;
    padding: 5px 11px;
  }

  .hero-title {
    font-size: 48px;
    margin: 10px 0 10px;
  }

  .hero-subtitle {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 auto 22px;
    padding: 0 10px;
  }

  .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: nowrap;
    padding: 20px;
  }

  .btn-primary,
  .btn-secondary {
    width: 90%;
    justify-content: center;
    padding: 12px 18px;
  }
}
